.container-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.hero-image {
  background-image: url("img/background-main.jpg");
  height: 396px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  color: white;
}
.hero-text h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 62px;
  line-height: 68px;
}

@media (max-width: $mobile-width-only) {
  .hero-text h1 {
    font-size: 46px;
    line-height: 48px;
  }
  .container-hero {
    padding: 0 12%;
  }
}

@media (min-width: $tablet) {
  .container-hero {
    padding: 0 15%;
  }
}
