// color

$light-blue: #00b6dd;
$light-blue-hover: #63cde2;
$dark-blue: #081580;
$dark-blue-hover: #0f22bd;
$light-grey: #d3d8e4;
$light-pink: #ff779a;

//view

$XS-ONLY: 575px;
$SSM: 576px;
$SM: 768px;
$MD: 992px;
$LG: 1180px;
